@tailwind base;
@tailwind components;
@tailwind utilities;

.button-pushed {
	transition: all 0.3s ease-in-out;
	border: 2px solid transparent;
	&:active {
		transform: translateY(8px) scale(0.95);
	}
	&:hover {
		background-color: #fff;
		color: black;
		border-color: #2b293d;
	}
}

.swal2-toast {
	background-color: #ad3737 !important;
	padding: 0.45rem !important;
	.swal2-x-mark-line-right,
	.swal2-x-mark-line-left {
		background-color: rgb(224, 218, 218) !important;
	}
	.swal2-title {
		color: white;
	}
}

.swal2-confirm {
	background: #242424;
}

.swal2-cancel {
	background: #9e2020b6;
	color: white;
}
