@tailwind base;
@tailwind components;
@tailwind utilities;

.button-pushed {
	transition: all 0.3s ease-in-out;
	border: 2px solid transparent;
	&:active {
		transform: translateY(8px) scale(0.95);
	}
	&:hover {
		background-color: #fff;
		color: black;
		border-color: #2b293d;
	}
}
